@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var displayContent = Model?.Value<bool>("displayServiceDetailsMenuForm") ?? false;
    var error_name = TempData["error_name"]?.ToString();
    var error_email = TempData["error_email"]?.ToString();
    var error_message = TempData["error_message"]?.ToString();
    string formSuccess = TempData["form-success"]?.ToString()!;
}

@if (displayContent)
{

    @using (Html.BeginUmbracoForm("SubmitHandler", "Services", FormMethod.Post, new { novalidate = "novalidate" }))
    {
        <div id="service-form">

            @if (formSuccess == "success")
            {
                <span class="success-form">Message submitted successfully</span>
            }
            else if (formSuccess == "fail")
            {
                <span class="success-form fail">Something went wrong sending your message, try again later..</span>
            }

            <fieldset class="form-goup">
                <legend><h4>Have a question?</h4></legend>
                <div class="inputs">
                    <div class="input-group @(!string.IsNullOrEmpty(error_name) ? "form-error" : null)">
                        <input type="text" name="name" id="name" value="@TempData["name"]" placeholder="Name">
                        <span>Enter a vaild name!</span>
                    </div>
                    <div class="input-group @(!string.IsNullOrEmpty(error_email) ? "form-error" : null)">
                        <input type="text" name="email" id="email" value="@TempData["email"]" placeholder="Email">
                        <span>Enter a vaild email!</span>
                    </div>
                </div>
                <div class="input-group @(!string.IsNullOrEmpty(error_message) ? "form-error" : null)">
                    <textarea name="message" id="message" rows="10" placeholder="Question">@TempData["message"]</textarea>
                    <span>You must enter a message!</span>
                </div>
                <button class="btn-primary" type="submit">Submit</button>
            </fieldset>
        </div>
    }
}
